@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Stodola</h1>
    <form method="post">
        <button asp-page="/Farm">Jít na farmu</button>
    </form>

</div>
