@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Farma</h1>
    <form method="post">
        <button asp-page="/Index">Jít do vesnice</button>
        <button asp-page="/Barn">Jít do stodoly</button>
    </form>

</div>
