@page
@model RPG.Pages.Game
@{ ViewData["Title"] = "Game";
}
<p>@Model.Location.Description</p>

@foreach (var i in @Model.Location.Paths)
{
    <a asp-route-to="@i.IDofPath" asp-handler class="btn btn-secondary">@i.DescriptionofPath</a>
}