@page
@model RPG.Pages.Game
@{ ViewData["Title"] = "Game";
}
<p>@Model.Location.Description</p>

@for (int i = 0; i < @Model.Location.Path.Length; i++)
{
    <a asp-route-to="@Model.Location.Path[i]" asp-handler class="btn btn-secondary">@Model.Location.Way</a>
}