@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body class="village">
    <div class="text-center">
        <h1 class="display-4">Vesnice</h1>
        <form method="post">
            <button asp-page="./Game">Jít na farmu a započít dobrodružství</button>
        </form>
    </div>
    </body>