@page
@model RPG.Pages.SessionTestModel
@{
    ViewData["Title"] = "SessionTest";
}

<h1>SessionTest</h1>

<p>Player with @Model.Player?.HP HP</p>

<p>No HPs? <a asp-page-handler="CreatePlayer">Create player...</a></p>